<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forrest' Template</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/adduser/">Add User</a></li>
    <li><a href="/loginpage/">Login</a></li>
    <li id="li1"><a href="/Alluser">All User</a></li>
</ul>

<table>
    <h1 style="text-align: center">
        <img src="/static/icon.jpeg" alt="Icon" style="align:middle;width:42px;height:42px;">
        Forrest's Site
        <h1>
</table>
<table>
{% if name %}
  <pre>{{ name }}</pre>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
</table>
<footer>
    <p style="text-align: center">If you have any question, please feel free to contact us if you have any question.</p>
</footer>
</body>
</html>