{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Price:
        <dd><input type=text size=30 name=title>
        <dt>Detail:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=search>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
<!--   <table class=table>
    <tr>
        <th>Username</th>
        <th>Password</th>
    </tr>
  {% for entry in entries %}
    <tr>
        <td>{{ entry.title }}</td>
        <td>{{ entry.text|safe }}</td>
    </tr>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </table> -->
  <table class=table>
  <thead>
  <tr>
  <th>Username</th>
  <th>Password</th>
  </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
  <tr>
  <td>{{ entry.title }}</td>
  <td>{{ entry.text|safe }}</td>
  </tr>
  {% else %}
  <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </tbody>
  </table>
  </ul>
{% endblock %}