{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <h2>My Commision</h2>
  <form action="#" method=post class=add-entry>
    <dl>
      <dt>Price:
      <dd>
        <input type=text size=30 name=lowprice>
        <p>between</p>
        <input type=text size=30 name=highprice>
      <dt>Area:
      <dd><input type=text size=30 name=area>
      <dt>Others:
      <!-- <dd><textarea name=text rows=5 cols=40></textarea> -->
      <dd><input type=submit value=search>
    </dl>
  </form>
{% endif %}
{% endblock %}