{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
  <h2>Submit My Offer</h2>
  <form action="#" method=post class=add-entry>
    <dl>
      <dt>ID:
      <dd><input type=text size=30 name=property_id value="{{ id }}">
      <dt>Price:
      <dd><input type=text size=30 name=price>
      <dt>Date:
      <dd><input type=text size=30 name=offer_date>
      <dd><input type=submit value=submit>
    </dl>
  </form>
  <br>
  <h2>My Offer</h2>
  <br>
  <ul class=entries>
    <table class=table>
      <thead>
        <tr>
          <th>Offer Number</th>
          <th>Property ID</th>
          <th>Price</th>
          <th>Offer Date</th>
          <th>Status</th>
          <th>Agent Number</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td><a href="/entity/{{ entry.title }}">{{ entry.title }}</a>
            </td>
            <td>{{ entry.text|safe }}
            </td>
          </tr>
        {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </tbody>
    </table>
  </ul>
{% endif %}
{% endblock %}