<!doctype html>
<title>Forrest'Site</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Forrest's Site</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('register') }}">register</a>
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a>Welcome, {{ session.username }}!</a>
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% if session.logged_in %}
  {% if session.rolename == "owner" %}
  <div class=metanav>
    <a href="{{ url_for('show_entries') }}">Find a Home</a>
    <a href="{{ url_for('show_openhouse') }}">Find a Open House</a>
    <a href="#">Sell My Home</a>
    <a href="#">Review My Offer</a>
  </div>
  {% endif %}
  {% if session.rolename == "agent" %}
  <div class=metanav>
    <a href="{{ url_for('show_entries') }}">Find a Home</a>
    <a href="{{ url_for('show_openhouse') }}">Find a Open House</a>
    <a href="#">My Open House</a>
    <a href="#">My Commision</a>
  </div>
  {% endif %}
  {% if session.rolename == "buyer" %}
  <div class=metanav>
    <a href="{{ url_for('show_entries') }}">Find a Home</a>
    <a href="{{ url_for('show_openhouse') }}">Find a Open House</a>
    <a href="#">My offer</a>
    <a href="#">My Open house</a>
  </div>
  {% endif %}
  {% endif %}
  {% block body %}{% endblock %}
</div>