{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <h2>Sell My Home</h2>
  <form action="#" method=post class=add-entry>
    <dl>
      <dt>ID:
      <dd><input type=text size=30 name=property_id>
      <dt>Askint Price:
      <dd><input type=text size=30 name=asking_price>
      <dt>Room:
      <dd><input type=text size=30 name=room_num>
      <dt>Bath Room:
      <dd><input type=text size=30 name=bath_num>
      <dt>Garage:
      <dd><input type=text size=30 name=garage_num>
      <dt>Lot Size:
      <dd><input type=text size=30 name=lot_size>
      <dt>Zip Code:
      <dd><input type=text size=30 name=zip_code>
      <dt>Area:
      <dd><input type=text size=30 name=area>
      <dt>List Date:
      <dd><input type=text size=30 name=list_date>
      <dd><input type=submit value=submit>
    </dl>
  </form>
  <br>
  <h2>My Home</h2>
  <br>
  <ul class=entries>
    <table class=table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td><a href="/user/{{ entry.title }}">{{ entry.title }}</a>
            </td>
            <td>{{ entry.text|safe }}
            </td>
          </tr>
        {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </tbody>
    </table>
  </ul>
{% endif %}
{% endblock %}