{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Pick A Role:
      <dd><input type=checkbox name=owner>Property Owner<br>
      <dd><input type=checkbox name=agent>Property Agent<br>
      <dd><input type=checkbox name=buyer>Property Buyer<br>
      <dd><input type=submit value=Register>
    </dl>
  </form>
{% endblock %}