{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} 
  <h2>Market Sold Report</h2>
  <br>
  <ul class=entries>
    <table class=table>
      <thead>
        <tr>
          <th>Area</th>
          <th>Total Sold Properties</th>
          <th>Average Sold Price</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td>{{ entry[0] }}
            </td>
            <td>{{ entry[1] }}
            </td>
            <td>{{ entry[2] }}
            </td>
          </tr>
        {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </tbody>
    </table>
  </ul>
  <br>
  <h2>Market On Sale Report</h2> 
  <ul class=entries>
    <table class=table>
      <thead>
        <tr>
          <th>Area</th>
          <th>Total On Sale Properties</th>
          <th>Average On Sale Price</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task[0] }}
            </td>
            <td>{{ task[1] }}
            </td>
            <td>{{ task[2] }}
            </td>
          </tr>
        {% else %}
          <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
      </tbody>
    </table>
  </ul>
{% endif %}
{% endblock %}